# Dependencias (¡NUNCA subir a GitHub porque pesa muchísimo!)
node_modules/

# Variables de entorno (¡NUNCA subir a GitHub porque tiene tus contraseñas!)
.env

# Logs de NPM por si hay errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo (Mac/Windows)
.DS_Store
Thumbs.db

# Configuraciones de editores de código (VS Code, etc.)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp